# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
poetry.lock

# Environment variables
.env

# Logs
*.log

# CSV output files
*.csv

# IDE-specific files
.idea/
.vscode/

# MacOS files
.DS_Store

# Backup files
*~
*.bak
*.swp

